* {
    border: none;
    border-radius: 0;
/*    font-family: "Ubuntu Nerd Font";*/
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(30,30,30,.3);
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

#workspaces button {
    padding: 0 5px;
    color: white;
    padding-top: 2px;
}

#workspaces button.focused {
    color: #4adfdf;
    border-top: 3px solid #4adfdf;
}

#mode {
    border-top: 3px solid #4adfdf;
    background: transparent;
}

#clock, #cpu, #memory, #custom-gpu-info, #temperature, #network, #pulseaudio, #disk, #tray, #mode {
    padding: 2 4px;
    margin: 0 4px;
/*    font-weight: bold;*/
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#cpu {
        color: white;
}

#cpu.critical {
        color: red;
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
        color: red;
}

#temperature {
}

#tray {
}
