@import "./theme.css";

@define-color color @base06;
@define-color background @base00;

* {
    border: none;
    border-radius: 0px;
    font-family: "monospace";
    font-weight: 600;
    font-size: 16px;
}

window {
    color: @color;
}

window#waybar {
    background: transparent;
}

#custom-gentoo {
    margin: 3px 0px;
    margin-left: 15px;
    background: @base00;
    border: none;
    border-radius: 10px;
    padding: 3px 12px 1px 12px;
}

#workspaces {
    margin-right: 15px;
    color: @color;
}

#workspaces button {
    color: @color;
    background: @background;
    border: none;
    padding: 3px 12px 1px 12px;
    min-width: 20px;
    min-height: 22px;
}

#workspaces button.focused {
    color: @base00;
    border-radius: 2px;
    background: @base0D;
}

#workspaces button:last-child {
    border-radius: 0px 10px 10px 0px;
}

#mode {
    margin-bottom: 1px;
    border-bottom: 2px solid white;
}

#clock {
    margin: 3px 15px 3px 0px;
    background: @background;
    border: none;
    border-radius: 10px;
    padding: 3px 12px 1px 12px;
}

#cpu {
    margin: 3px 0px;
    background: @background;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 12px 1px 12px;
}

#temperature, #custom-gpu-info {
    margin: 3px 0px;
    background: @background;
    padding: 3px 12px 1px 12px;
}

#temperature.gpu, #custom-gpu-info {
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-right: 15px;
}

#temperature.critical, #cpu.critical, #memory.critical, #network.disconnected, #custom-gpu-info.critical {
    color: @base0F;
}

#memory.warning {
    color: @base0A;
}

#memory {
    margin: 3px 0px;
    background: @background;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 12px 1px 12px;
}

#disk {
    margin: 3px 0px;
    margin-right: 15px;
    background: @background;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 3px 12px 1px 12px;
}

#network {
    margin: 3px 0px;
    background: @background;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 12px 1px 12px;
}

#bluetooth {
    margin: 3px 0px;
    margin-right: 15px;
    background: @background;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 3px 12px 1px 12px;
}

#pulseaudio {
    margin: 3px 0px;
    background: @background;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 12px 1px 12px;
}

#language {
    margin: 3px 0px;
    background: @background;
    padding: 3px 12px 1px 12px;
}

#custom-dark-mode-switcher {
    margin: 3px 0px;
    margin-right: 15px;
    background: @background;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 3px 12px 1px 8px;
}

#tray {
    margin: 3px 0px;
    background: @background;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 12px 1px 12px;
}

#custom-notification {
    margin: 3px 0px;
    margin-left: -10px;
    margin-right: 5px;
    background: @background;
    border: none;
    border-radius: 10px;
    padding: 3px 12px 1px 12px;
}
