* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans";
    font-weight: 500;
    font-size: 14px;
    min-height: 0px;
}

window#waybar {
    background: transparent;
    color: rgb(40, 40, 40);
    text-shadow: none;
    /*text-shadow: 1px 1px 3px rgba(40, 40, 40, .4);*/
}

#window {
    font-weight: bold;
    margin-right: 10px;
    color: white;
}

#workspaces button {
    color: white;
    padding: 0px 6px;
    margin: 0px;
}

#workspaces button.focused {
    color: rgb(200, 80, 130);
}

#workspaces {
    margin: 2px 0px;
    margin-left: 4px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
}

#mode {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
}

#clock, #cpu, #memory, #custom-gpu-info, #temperature, #network, #pulseaudio, #disk, #tray, #mode {
    padding: 2px 10px;
    margin: 2px 4px;
/*    font-weight: bold;*/
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#cpu {
    border-radius: 10px 0px 0px 10px;
    padding-right: 2px;
    background-color: rgb(130, 200, 80);
    margin-right: 0px;
}
#cpu.critical {
        color: red;
}
#temperature {
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgb(130, 200, 80);
}
#custom-gpu-info {
    padding-left: 2px;
    margin-left: 0px;
    background-color: rgb(130, 200, 80);
    border-radius: 0px 10px 10px 0;
}

#memory {
    border-radius: 10px 0px 0px 10px;
    padding-right: 3px;
    background-color: rgb(130, 80, 200);
    margin-right: 0px;
}
#disk {
    padding-left: 3px;
    margin-left: 0px;
    background-color: rgb(130, 80, 200);
    border-radius: 0px 10px 10px 0;
}

#network {
    border-radius: 10px;
    background-color: rgb(200, 80, 130);
}
#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    border-radius: 10px 0px 0px 10px;
    padding-right: 3px;
    background-color: rgb(200, 130, 80);
    margin-right: 0px;
}
#pulseaudio.muted {
    color: red;
}
#clock {
    margin-left: 0px;
    padding-left: 3px;
    background-color: rgb(200, 130, 80);
    border-radius: 0px 10px 10px 0;
}

#tray {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
}
