window {
    border-radius: 2px;
    padding: .1rem;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 2px;
}
#input:focus {
    border: 1px solid #aeaeae;
}

#inner-box {
    margin: .5rem;
    color: #ffffff;
    font-weight: bold;
}

#entry {
    padding: .75rem;
    border-radius: 2px;
}

#entry:selected {
    border: none;
}

/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Atlas scheme by Alex Lende (https://ajlende.com) */

window {
	background-color: #002635;
	color: #a1a19a;
}

#entry:nth-child(odd) {
	background-color: #002635;
}

#entry:nth-child(even) {
	background-color: #00384d;
}

#entry:selected {
	background-color: #517F8D;
}

#input {
	background-color: #00384d;
	color: #869696;
	border-color: #517F8D; 
}

#input:focus {
	border-color: #ffcc1b; 
}
